<div>
    <img src="@Product.Image" class="rounded" height="100" width="160">
    <h5>@Product.Name</h5>
    <div class="mt-3 info"> <span class="text1 d-block">@Product.Description</span> <span class="text1">@Product.Color Size @Product.Size</span> </div>
    <div class=" cost mt-3 text-dark">
        <span>@Product.Price</span>
    </div>
</div>